mc-bean/src/main/java/MC.xsd

<?xml version="1.0" encoding="UTF-8"?>
<Context:schema xmlns:Context="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/MC" xmlns="http://www.example.org/MC" elementFormDefault="qualified">
	<Context:element name="Bean">
		<Context:complexType>
			<Context:sequence>
				<Context:element name="name"></Context:element>
				<Context:element name="class"></Context:element>
				<Context:element name="method"></Context:element>
				<Context:element name="type"></Context:element><!-- 注册/注入/拦截 -->
				<Context:element name="type"></Context:element>
			</Context:sequence>
		</Context:complexType>
	</Context:element>
</Context:schema>